
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* custom properties */

:root{
    --ff-primary:'Lora',serif;
    --ff-secondary:'Roboto Slab', serif;

    --fw-reg:400;
    --fw-bold:700;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#16e0bd;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;
    --bs:.25em .25em .75em  rgba(0,0,0,.25),
    0.125em 0.125em .25em rgba(0,0,0,.15);
}

@media(min-width:800px){
    :root{
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;
    }
}

/* General Styles */
html {
    scroll-behavior: smooth;
}
body {
    background: var(--clr-light);
    font-family:var(--ff-primary);
    font-size: var(--fs-body);
    color:var(--clr-dark);
    margin:0; 
    line-height:1.6;
    -webkit-tap-highlight-color: transparent;
}

section {
    padding:5em 2em;
}

img {
    display:block;
    max-width:100%;
}

strong {
    font-weight: var(--fw-bold);
}
:focus {
    outline:3px solid var(--clr-accent);
    /* outline-offset: -3px; */
}
/* Button */
.btn {
    display:inline-block;
    padding:.5em 2.5em;
    background: var(--clr-accent);
    color:var(--clr-dark);
    text-decoration:none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition:200ms transform ease-in-out;

}

.btn:hover{
    transform:scale(1.1);
}
/* typography */

h1,
h2,  
h3 {
    line-height: 1;
    margin:0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section-title {
 margin-bottom: .25em;
}
.section-title-intro {
    font-weight: var(--fw-reg);
  
}
.section-title-intro strong {
    display: block;
}
.section-subtitle {
    margin:0;
    font-size: var(--fs-h3);

}

.section-subtitle-intro {
    display: inline-block;
}

.section-subtitle-intro,
.section-subtitle-about {

    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding:.25em 1em;

}
.section-subtitle-work {
    font-weight: var(--fw-bold);
    color:var(--clr-accent);
    margin-bottom: 2em;
}


/* header */
header {
    display:flex;
    justify-content: space-between;
    padding:1em;
}
.logo {
    max-width:100px;
}
.nav {
    position:fixed;
    background: var(--clr-dark);
    color:var(--clr-light);
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:100;
    transform:translate(100%);
    transition:250ms transform cubic-bezier(.5,0,.5,1);
}

.nav-list {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height:100%;
    flex-direction: column;
    margin:0;
    padding:0;
    
}

.nav-link{
    color:white;
    font-size: var(--fs-h2);
    text-decoration:none;
    font-weight: var(--fw-bold);
}

.nav-link:hover {
    color:var(--clr-accent);
}
.nav-toggle {
    padding:.5em;
    background:transparent;
    border:0;
    cursor: pointer;
    position: fixed;
    right:1em;
    top:1em;
    z-index:10000;
    outline:none;
}

.nav-open .nav{
    transform:translate(0%);
}
.nav-open .nav-toggle {
    position:fixed;
}
.nav-open .hamburger {
    transform:rotate(-45deg)
}

.nav-open .hamburger::before {
    transform:rotate(450deg) translateX(-6px);
}
.nav-open .hamburger::after {
    opacity:0;
}
.hamburger {
    background: var(--clr-accent);
    display: block;
    width:2em;
    height:3px;
    border-radius: 1em;
    position: relative;
    

}
.hamburger::before,
.hamburger::after {
    display: block;
    width:2em;
    height:3px;
    border-radius: 1em;
    content:'';
    position: absolute;
    left:0;
    right:0;
    background:var(--clr-accent);
    transition: 250ms transform ease-in-out;

}
.hamburger::after {
    bottom:6px;
}

.hamburger::before {
    top:6px;
}


/* intro section */

.intro {
    position:relative;
}

.intro-image {
    box-shadow: var(--bs);
}

@media (min-width:600px){
    .intro {
        display: grid;
        width:min-content;
        margin:0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns:min-content max-content;
    }

    .intro-image {
        grid-area: img;
        min-width:250px;
        max-height:260px;
        object-fit: cover;
        object-position: bottom;
        position: relative;
        z-index:2;
    }

    .section-subtitle-intro {
        align-self:start;
        grid-column: 1/-1;
        grid-row:2;
        text-align:right;
        position: relative;
        left:-1.5em;
        width:calc(100% + 1.5em);


    }

}


/* My services section */

.my-services {
    background-color: var(--clr-dark);
    color:var(--clr-light);
    background-image: url(../img/CYMERA_20150929_195900.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align:center;


}

.section-title-services {
    color:var(--clr-accent);
    position: relative;
}

.section-title-services::after {
    content:'';
    display:block;
    width:2em;
    height:1.5px;
    margin:.5em auto 1em;
    background: var(--clr-light);
    opacity: .25;
   
}
.services {
    margin-bottom: 4em;
}
.service {
    max-width:500px;
    margin:0 auto;
}

@media (min-width:700px){
    .services {
        display:flex;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    

    }
    .service + .service {
        margin-left:3em;
    }
}

.about-me {
    max-width: 1000px;
    margin:0 auto; 
}

.about-image {
    box-shadow: var(--bs);
}
@media (min-width:600px){
    .about-me {
        display:grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }
    .section-title-about {
        grid-area:title;
    }
    .section-subtitle-about {
     grid-column:1/-1;
     grid-row:2;
     left:-1em;
     width:calc(100% + 2em);
     position: relative;
     padding-left:1em;
     padding-right:calc(200px + 4em );
     
    }
    .about-me-body {
        grid-area: text;
    }
    .about-image {
    grid-area:img;
    height:100%;
    object-fit:cover;
    object-position:bottom;
    position: relative;
    }
}
/* my work */
.my-work {
    background-color: var(--clr-dark);
    color:var(--clr-light);
    text-align:center;
}

.portfolio {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    max-width: 1000px;
    margin:0 auto;
 
    
}


.portfolio-item
 {
    background: var(--clr-accent);      
    overflow:hidden;
    padding:0;



}


.portfolio-image {
    transition:750ms transform cubic-bezier(0.5,0,.5 1),
    opacity 250ms linear;




}

.portfolio-item:focus {
    position: relative;
    z-index: 2;

}

.portfolio-image:hover,
.portfolio-item:focus .portfolio-image
{
    transform:scale(1.2);
    opacity:.75;


}

/* footer */

footer {
    background: #111;
    color:var(--clr-accent);
    text-align: center;
    padding:2.5em 0;
}
footer ul {
    list-style:none;
    display:flex;
    justify-content:center;
    margin:2em 0 0;
    padding:0;
}
footer ul li {
    margin:0 .5em;
}
footer a {
    color:inherit;
    text-decoration:none;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    padding:.5em;
}

footer a:hover,
footer ul li:hover {
    opacity: .7;
}

/* portfolio-item-individual */

.portfolio-item-individual {
    padding:0 2em 2em;
    max-width:1000px;
    margin:0 auto;
}

.portfolio-item-individual p {
    max-width:600px;
    margin:0 auto;

}

.portfolio-item-individual img {
    display:block;
    width:100%;
}